#my-words {
  display:inline-block;
  width:400px;
  padding:25px;
}

#opp-words {
  display:inline-block;
  width:400px;
  padding:25px;
}


.wrongWord {
  background-color: yellow;
  color: red;
}

.correctWord {
  color: green;
}

.oppResults {
  display:inline-block;
  width:550px;
  padding:25px;

}

.myResults {
  display:inline-block;
  width:550px;
  padding:25px;
}

