#my-words {
  display:inline-block;
  width:400px;
}

#opp-words {
  display:inline-block;
  width:400px;
}


.wrongWord {
  background-color: yellow;
  color: red;
}

.correctWord {
  color: green;
}


